

*{
    margin: 0;
    padding: 0;
}




#loginBackground{
    padding-top:5% ;
    padding-bottom: 135px;
    text-align: center;
    background: linear-gradient(45deg,black,green);
    height: 100%;

}
#signinform{
    padding: 5% 2% 2% 2%;
    width: 280px;
    background: linear-gradient(45deg,rgb(20, 20, 20),rgb(56, 55, 55),rgb(36, 35, 35));
    margin: auto;
    border-radius: 10px;
    color: white;
}

#signinform h2{
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
}

#signinform input[type="text"],
#signinform input[type="password"]

{  
    background: none;
    border: none;
    border-bottom: 1px  rgb(36, 32, 32);
    outline: none;
    margin-bottom: 5px;
    color: white;
    border-radius: 5px;
    padding-left: 5px;
}

#signinInput{

    border-bottom: 1px solid gray;
    margin: 20px 5px 20px 0px;
}

#signinform input[type="checkbox"]{
    margin-top: 15px;

}

#signinform label{
    margin-top: 10px;
}
#signinform button{
    border: none;
    outline: none;
    height: 40px;
    background: linear-gradient(45deg,rgb(0, 0, 12),blue);
    border-radius: 20px;
    width: 100%;
    margin-top: 20px;
    color: white;
}

#regLink{

    text-align: center;
}

/* table */
.heading{
    height: 80px;
    text-align: center;
    background: linear-gradient(60deg,rgb(1, 43, 43),rgb(3, 59, 59));
    color: beige;
    
}
.listItem{
    height: 60px;
    background: linear-gradient(60deg,rgb(39, 38, 38),rgb(165, 163, 163));
    color: white;
    padding-left: 10px;
    
    
    
}

.todolistitem{
    margin: 30px auto;
    min-width: 310px;
}





